<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Recommender System</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>

<style>
    .text-white{
        color: white;
    }
</style>
<body style='background-color: #3D0301'>
    <nav class="navbar"  style='background-color:#FBDB93'>
        <h1 class="navbar-brand" style='color: black;'>Book Recommender System</h1>
        <ul class="nav navbar-nav">
            <li class="nav-item"><a class="nav-link" href="#">Home</a></li>
            <li class="nav-item"><a class="nav-link" href="#">About</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Contact</a></li>
        </ul>
    </nav>

    <div class="container">
        <div class="rows">
            <div class="col-12">
                <h1 class="text-white">Top 50 Books</h1>
            </div>
            
            <div class="row" style="margin-top:30px">
    <div class="col-md-3">
      <div class="">
        <div class="card-body">
          <img class="img-fluid" src="http://images.amazon.com/images/P/0002005018.01.MZZZZZZZ.jpg">
          <h5 class="text-white">Clara Callan</h5>
          <p class="text-white">Richard Bruce Wright</p>
          <p class="text-white">Votes: 300</p>
          <p class="text-white">Rating: 8.5</p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="">
        <div class="card-body">
          <img class="img-fluid" src="http://images.amazon.com/images/P/0002005018.01.MZZZZZZZ.jpg">
          <h5 class="text-white">Clara Callan</h5>
          <p class="text-white">Richard Bruce Wright</p>
          <p class="text-white">Votes: 300</p>
          <p class="text-white">Rating: 8.5</p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="">
        <div class="card-body">
          <img class="img-fluid" src="http://images.amazon.com/images/P/0002005018.01.MZZZZZZZ.jpg">
          <h5 class="text-white">Clara Callan</h5>
          <p class="text-white">Richard Bruce Wright</p>
          <p class="text-white">Votes: 300</p>
          <p class="text-white">Rating: 8.5</p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="">
        <div class="card-body">
          <img class="img-fluid" src="http://images.amazon.com/images/P/0002005018.01.MZZZZZZZ.jpg">
          <h5 class="text-white">Clara Callan</h5>
          <p class="text-white">Richard Bruce Wright</p>
          <p class="text-white">Votes: 300</p>
          <p class="text-white">Rating: 8.5</p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="">
        <div class="card-body">
          <img class="img-fluid" src="http://images.amazon.com/images/P/0002005018.01.MZZZZZZZ.jpg">
          <h5 class="text-white">Clara Callan</h5>
          <p class="text-white">Richard Bruce Wright</p>
          <p class="text-white">Votes: 300</p>
          <p class="text-white">Rating: 8.5</p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="">
        <div class="card-body">
          <img class="img-fluid" src="http://images.amazon.com/images/P/0002005018.01.MZZZZZZZ.jpg">
          <h5 class="text-white">Clara Callan</h5>
          <p class="text-white">Richard Bruce Wright</p>
          <p class="text-white">Votes: 300</p>
          <p class="text-white">Rating: 8.5</p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="">
        <div class="card-body">
          <img class="img-fluid" src="http://images.amazon.com/images/P/0002005018.01.MZZZZZZZ.jpg">
          <h5 class="text-white">Clara Callan</h5>
          <p class="text-white">Richard Bruce Wright</p>
          <p class="text-white">Votes: 300</p>
          <p class="text-white">Rating: 8.5</p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="">
        <div class="card-body">
          <img class="img-fluid" src="http://images.amazon.com/images/P/0002005018.01.MZZZZZZZ.jpg">
          <h5 class="text-white">Clara Callan</h5>
          <p class="text-white">Richard Bruce Wright</p>
          <p class="text-white">Votes: 300</p>
          <p class="text-white">Rating: 8.5</p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="">
        <div class="card-body">
          <img class="img-fluid" src="http://images.amazon.com/images/P/0002005018.01.MZZZZZZZ.jpg">
          <h5 class="text-white">Clara Callan</h5>
          <p class="text-white">Richard Bruce Wright</p>
          <p class="text-white">Votes: 300</p>
          <p class="text-white">Rating: 8.5</p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="">
        <div class="card-body">
          <img class="img-fluid" src="http://images.amazon.com/images/P/0002005018.01.MZZZZZZZ.jpg">
          <h5 class="text-white">Clara Callan</h5>
          <p class="text-white">Richard Bruce Wright</p>
          <p class="text-white">Votes: 300</p>
          <p class="text-white">Rating: 8.5</p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="">
        <div class="card-body">
          <img class="img-fluid" src="http://images.amazon.com/images/P/0002005018.01.MZZZZZZZ.jpg">
          <h5 class="text-white">Clara Callan</h5>
          <p class="text-white">Richard Bruce Wright</p>
          <p class="text-white">Votes: 300</p>
          <p class="text-white">Rating: 8.5</p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="">
        <div class="card-body">
          <img class="img-fluid" src="http://images.amazon.com/images/P/0002005018.01.MZZZZZZZ.jpg">
          <h5 class="text-white">Clara Callan</h5>
          <p class="text-white">Richard Bruce Wright</p>
          <p class="text-white">Votes: 300</p>
          <p class="text-white">Rating: 8.5</p>
        </div>
      </div>
    </div>
          
           
        </div>
    </div> 
</body >
</html> 